.flexWrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0 50px 0 50px;
    /* align-items: flex-start; */
}

section:not(.headerBet) {
    margin-top: 50px;
}

/*    HEADER    */
.headerBet {
    width: 100vw;
    background-color: tomato;
}

.headerBetDiv{
    text-align: center;
}

.headerBetDiv h1 {
    padding-top: 20px;
    font-size: 42px;
}

.headerBetDiv p {
    font-size: 26px;
    padding-bottom: 20px;
}

.matchSection{
    width: 800px;
    text-align: center;
}


/*   Lista sportów    */
.selectSport{
    width: 250px;
    overflow: hidden;
}

.sports li{
    gap: 30px;
}

.sportsList li {
    cursor: pointer;
}

ul, ul li{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sportsList ul{
    display: none;
}

.sportsList ul {
    display: none;
}

.sportsList ul {
    position: relative;
    left: 20px;
}

.show > ul{
    display: flex;
}
/* 
.matchSection{
    width: 800px;
} */




/*    TABELA WYNIKÓW   */
.currentTableTable th, tr,td{
    padding: 10px;
    border: 1px solid white;
}

.currentTableTable{
    border-collapse: collapse;
}

.currentSportLeagueDiv{
    text-align: center;
}